<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/fudo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <div>
      <a id="skip-link" href="#contents">Skip to main content</a>
    </div>
    <header>
      <div class="app-bar">
        <div class="brand-bar">
          <img class="app-brand" src="./images/icon.png" alt="" />
          <h1 class="app-title">Fudo</h1>
        </div>
        <nav id="main-nav" class="navigation">
          <a href="#">Home</a>
          <a href="#">Favourite</a>
          <a href="https://www.linkedin.com/in/kharismamuzaki/" target="_blank"
            >About Us</a
          >
        </nav>
        <nav id="drawer" class="navigation-mobile">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Favourite</a></li>
            <li><a href="https://www.linkedin.com/in/kharismamuzaki/" target="_blank">About Us</a></li>
          </ul>
        </nav>     
        <a id="hamburger" href="#"><i class="fas fa-bars"></i></a>
      </div>
    </header>
    <main>
      <div class="hero">
        <img src="./images/heros/hero-image_2.jpg" alt="" />
      </div>
      <div id="explore">
        <div class="top-banner">
          <h2 id="banner-title">What we serve</h2>
          <div class="services">
            <section class="service">
              <img src="./images/img1.png" alt="Easy To Order" />
              <figcaption>Easy To Order</figcaption>
            </section>
            <section class="service">
              <img src="./images/img2.png" alt="Fastest Delivery" />
              <figcaption>Fastest Delivery</figcaption>
            </section>
            <section class="service">
              <img src="./images/img3.png" alt="Best Quality" />
              <figcaption>Best Quality</figcaption>
            </section>
          </div>
          <h2 id="banner-desc">Explore Your Foods</h2>
        </div>
        <list-restaurant id="contents" class="explore-foods"></list-restaurant>
      </div>
    </main>
    <footer>
      <p>Copyright &copy; 2021 - Fudo powered by Hunger Apps</p>
    </footer>
  </body>
</html>
