<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/fudo.ico" />
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <header>
      <div id="skip">
        <a href="#contents">Skip to main content</a>
      </div>
      <div class="app-bar">
        <div class="brand-bar">
          <img class="app-brand" src="./images/icon.png" alt="" />
          <h1 class="app-title">Fudo</h1>
        </div>
        <nav class="navigation">
          <a href="#">Home</a>
          <a href="#">Favourite</a>
          <a href="https://www.linkedin.com/in/kharismamuzaki/" target="_blank"
            >About Us</a
          >
        </nav>
      </div>
    </header>
    <div class="hero">
      <img src="./images/heros/hero-image_2.jpg" alt="" />
    </div>
    <div id="explore">
      <div class="top-banner">
        <h2 id="banner-title">What we serve</h2>
        <div class="services">
          <section class="service">
            <img src="./images/img1.png" alt="Service" />
            <figcaption>Easy To Order</figcaption>
          </section>
          <section class="service">
            <img src="./images/img2.png" alt="Service" />
            <figcaption>Fastest Delivery</figcaption>
          </section>
          <section class="service">
            <img src="./images/img3.png" alt="Service" />
            <figcaption>Best Quality</figcaption>
          </section>
        </div>
        <h2 id="banner-desc">Explore Your Foods</h2>
      </div>
      <list-restaurant id="contents" class="explore-foods"></list-restaurant>
    </div>
    <footer>
      <p>Copyright &copy; 2021 - Fudo powered by Hunger Apps</p>
    </footer>
  </body>
</html>
