<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <header>
        <div class="app-bar">
            <div class="brand-bar">
                <img class="app-brand" src="./images/icon.png" alt="">
                <h1 class="app-title"> Fudo </h1> 
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">Favourite</a>
                <a href="#">About Us</a>
            </nav>
        </div>
    </header>
    <div class="hero">
        <img src="./images/heros/hero-image_2.jpg" width="450" alt="">    
    </div>
    <div id="explore">
        
    </div>
    <footer>
        <p>Copyright &copy; 2021 - Fudo powered by Hunger Apps</p>
    </footer>
</body>
</html>
