@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");
body {
    font-family: 'Inter', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

* {
    box-sizing: border-box;
}

.app-title {
    font-size: 2em;
    margin: 8px;
    font-weight: 700;
}

.app-bar, .brand-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-bar {
    padding: 4px;
}

.image-card img {
    border-radius: 1rem;
    display: block;
    margin: auto;
    max-width: 240px;
    height: auto;
}

.label-city {
    background-color: rgba(245, 71, 72, .9);
    position: relative;
    bottom: 70px;
    right: 10px;
    max-width: 160px;
    margin-bottom: -40px;
}

.label-city p {
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    padding: 6px;
    text-transform: uppercase;
}

.hero img {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

#skip-link {
    margin: 4px 10px 2px;
    position: absolute;
    top: -60px;
    left: 0;
    color: #F54748;
    min-width: 44px;
    min-height: 44px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 8px;
    z-index: 100;
}

#skip-link:focus {
    top: 0;
}

.fa-star {
    color: #F7B700;
}

.fa-map-marker-alt {
    color: #F54748;
}

.fa-utensils {
    color: #F7B700;
}

.fa-wine-glass-alt {
    color: #F7B700;
}

.explore-foods {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    position: relative;
    min-height: 360px;
    text-align: middle;
}

.card {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 4px;
    padding: 10px 8px;
}

.food-card {
    height: 400px;
    overflow: hidden;
}

.top-banner h1 {
    text-align: center;
}

.image-detail {
    max-height: 500px;
    width: 100%;
    object-fit: cover;    
}

.heading-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating {
    margin: 10px;
    display: flex;
    font-size: 20px;
    align-items: center;
}

.tag-menu {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.tag-menu div {
    padding: 10px;
    margin: 0 14px 12px 0;
    background-color: rgba(245, 71, 72, .8);
    color: white;
    border-radius: 10px;
}

.category-menu div {
    background-color: #8BAF20;
}

.food-menu div {
    background-color: #ECDABA;
    color: black;
}

.place {
    margin-top: 12px;
    font-size: 18px;
}

.heading-detail > .head {
    display: flex;
    align-content: center;
}

.head > .title {
    font-size: 30px;
    font-weight: 700;
}

#banner-title {
    text-transform: uppercase;
    color: #F54748;
    font-size: 1.4em;
}

.menus-restaurant > .heading {
    display: flex;
    align-items: center;
}

.menus-restaurant > .heading > .title {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
}

.not-found img {
    max-height: 200px;
    margin: auto;
    width: auto;
    object-fit: cover;
}

.not-found figcaption {
    font-size: 24px;
    font-weight: 700;
}

.not-found p {
    font-size: 18px;
}

.not-found {
    margin: 100px 10px 100px 10px;
    text-align: center;
    height: 100%;
    width: 100%;
}

#banner-desc {
    font-size: 2em;
    color: #F54748;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service img {
    min-width: 260px;
    height: 200px;
    object-fit: contain;
    margin: auto;
}

.service figcaption {
    font-size: 1.4em;
    font-weight: 600;
}

.service > * {
    text-align: center;
}

.app-brand {
    object-fit: contain;
    height: 60px;
}

.navigation {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4px;
}

.navigation-mobile ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.navigation-mobile {
    top: 60px;
    padding: 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    background: white;
}

.navigation-mobile ul li a {
    color: #F54748;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    margin: 4px;
    display: block;
    min-width: 44px;
    min-height: 44px;
    line-height: 44px;
}

.navigation-mobile li {
    margin: 10px;
}

#hamburger {
    display: none;
    margin-right: 10px;
    min-width: 44px;
    min-height: 44px;
    text-align: center;
    line-height: 44px;
}

#drawer {
    display: none;
    transform: translate(0, -250px);
}

#drawer.open {
    display: block;
    transform: translate(0, 0);
}

.app-bar a {
    text-decoration: none;
    color: black;
}

.navigation a {
    margin: 0 6px 0 6px;
}

.btn-primary {
    background-color: #F54748;
    padding: 14px;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    min-width: 44px;
    min-height: 44px;
    color: white !important;
}

img {
    display: block;
}

.food-title {
    font-size: 18px;
    font-weight: 600;
}

.food-description {
    font-size: 16px;
    font-weight: 500;
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer {
    margin-top: 4px;
    padding: 2px;
    background-color: #F54748;
    text-align: center;
    color: white;
    width: 100%;
}

footer a {
    color: white;
    font-size: 16px;
    padding: 16px 0 16px 0;
}

.detail-page {
    margin: 16px;
    padding-bottom: 30px;
}

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #F7B700;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.detail-link {
    color: #F54748;
    min-width: 44px;
    min-height: 44px;
}

.detail-link {
    display: block;
    color: #F54748;
    min-width: 44px;
    line-height: 44px;
    min-height: 44px;
}