@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

body {
    font-family: 'Inter', 'Roboto';
    margin: 0;
    padding: 0;
}

.app-title {
    font-size: 2em;
    margin: 8px;
    font-weight: 700;
}

.app-bar, .brand-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-bar {
    padding: 2px;
}

.image-card img {
    border-radius: 1rem;
    display: block;
    margin: auto;
    max-width: 240px;
    height: auto;
}

.label-city {
    background-color: rgba(245, 71, 72, .9);
    position: relative;
    bottom: 70px;
    right: 10px;
    max-width: 160px;
    margin-bottom: -40px;
}

.label-city p {
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
    padding: 6px;
    text-transform: uppercase;
}

.hero img { 
    height: 550px;
    width: 100%;
    object-fit: cover;
}

#skip {
    margin: 4px 10px 2px;
}

.fa-star {
    color: #F7B700;
}

.explore-foods {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-column-gap: 10px; */
    grid-gap: 10px;
}

.card {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 4px;
    padding: 10px 8px;
    height: 420px;
}

.top-banner h2 {
    text-align: center;
}

#banner-title {
    text-transform: uppercase;
    color: #F54748;
    font-size: 1.4em;
}

#banner-desc {
    font-size: 2em;
    color: #F54748;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service img {
    width: 260px;
    height: 200px;
    object-fit: contain;
    margin: auto;
}

.service figcaption {
    font-size: 1.4em;
    font-weight: 600;
    text-align: center;
}

.app-bar {
    padding: 8px;
}

.app-brand {
    object-fit: contain;
    height: 60px;
}

.navigation {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4px;
}

.navigation a {
    background-color: #F54748;
    padding: 10px;
    color: white;
    text-decoration: none;
    margin: 0 6px 0 6px;
    font-size: 1em;
    border-radius: 5px;
}

img {
    display: block;
}

.food-title {
    font-size: 18px;
    font-weight: 600;
}

.food-description {
    font-size: 16px;
    font-weight: 500;   
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

footer {
    text-align: center;
}

.detail-link {
    color: #F54748;
}